<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= javascript_include_tag  "application" %>	
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="page-header" style="text-align: center">
		<h1>PRAGMATIC BOOKSHELF</h1>
	</div>
	<hr>
	<div class="row">
		<div class="span3">
			<div id="cart">
			<% if @cart %>
				<%= render @cart %>
			<% end %>
			</div>
			<ul class="well nav nav-stacked nav-pills">
				<li>
					<a href="http://www.../">Home</a>
				</li>
				<li>
					<a href="http://www.../faq">Questions</a>
				</li>
				<li>
					<a href="http://www.../news">News</a>
				</li>
				<li>
					<a href="http://www.../contact">Contact</a>
				</li>
			</ul>
		</div>
		<div class="span9">
			<%= yield %>
		</div>
	</div>			
</div>
</body>
</html>
